@media screen and (max-width: 400px){
    .nav-container, .nav-item-container{
        flex-direction: column;
    }
    .nav-item-container{
        width: 100%;
    }
    .nav-item-container a{
        margin-top: 20px;
    }
    .nav-item-container .login-btn{
        width: 100%;
        margin-bottom: 10px;
    }



    
}