@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body{
    font-family: 'Lato', sans-serif;
}
*{
    box-sizing: border-box;
}
/* navber section is started  */
nav{
    background-color: #9376e0;
}

.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.logo-container img{
    width: 50px;
    object-fit: cover;
    margin-right: 20px;
}
.logo-container{
    display: flex;
    width: 50%;
}
.logo-container p{
    font-size: 30px;
}
.hive-section {
    color: #e893cf;
}
.nav-item-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-item-container a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}
.nav-item-container .login-btn{
    background-color: #e893cf;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    text-align: center;
}





































































